header {
    -webkit-backface-visibility: hidden;
}

h2,
h3,
h5,
h6,
nav.main_menu>ul>li>a {
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2,
h3 {
    font-weight: 600;
}

a,
h2,
h3,
h4,
h5,
h6 {
    color: #303030;
}

.clearfix:after {
    clear: both;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

header,
nav {
    display: block;
}

a,
b,
body,
div,
h2,
h3,
h4,
h5,
h6,
html,
i,
li,
p,
span,
ul {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}

a img {
    border: none;
}

header {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
    image-rendering: optimizeQuality;
}

.q_logo img {
    max-width: none;
}

h2 {
    font-size: 24px;
    line-height: 1.384615384615385em;
}

h3 {
    font-size: 17px;
    line-height: 1.304347826086957em;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
}

h5,
h6 {
    font-weight: 600;
}

h5 {
    font-size: 15px;
    line-height: 1.571428571428571em;
}

h6 {
    font-size: 13px;
    line-height: 1.538461538461538em;
}

a {
    text-decoration: none;
}

ul {
    list-style-position: inside;
}

.ajax_loader {
    display: none;
}

.wrapper,
body {
    background-color: #f6f6f6;
}

html {
    height: 100%;
    margin: 0!important;
}

body {
    font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #818181;
    font-weight: 400;
    overflow-y: scroll;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    position: relative;
    z-index: 1000;
    left: 0;
}

.wrapper_inner {
    width: 100%;
    overflow: hidden;
}

.ajax_loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1100;
}

.ajax_loader_1 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.ajax_loader .pulse {
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    background-color: #303030;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    -webkit-animation: scaleout 1s infinite ease-in-out;
    animation: scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@-moz-keyframes scaleout {
    0% {
        -moz-transform: scale(0);
    }

    100% {
        -moz-transform: scale(1);
        opacity: 0;
    }
}

@-ms-keyframes scaleout {
    0% {
        -ms-transform: scale(0);
    }

    100% {
        -ms-transform: scale(1);
        opacity: 0;
    }
}

@-o-keyframes scaleout {
    0% {
        -o-transform: scale(0);
    }

    100% {
        -o-transform: scale(1);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.ajax_loader .two_rotating_circles {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    position: relative;
    text-align: center;
    -webkit-animation: rotatecircles 2s infinite linear;
    animation: rotatecircles 2s infinite linear;
}

.ajax_loader .two_rotating_circles .dot1,
.ajax_loader .two_rotating_circles .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #303030;
    border-radius: 100%;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}

.ajax_loader .two_rotating_circles .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes rotatecircles {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotatecircles {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

header {
    width: 100%;
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 110;
}

header .header_inner_left {
    position: absolute;
    left: 45px;
    top: 0;
}

header .container_inner .header_inner_left {
    position: absolute;
    left: 0;
    top: 0;
}

.header_bottom,
.q_logo,
.q_logo a {
    position: relative;
}

.header_inner_right {
    float: right;
    position: relative;
    z-index: 110;
}

.header_bottom {
    padding: 0 45px;
    background-color: #fff;
}

.logo_wrapper {
    height: 78px;
    float: left;
}

.q_logo {
    top: 50%;
    left: 0;
}

.q_logo a {
    display: block;
    visibility: hidden;
}

.q_logo img {
    display: block;
    opacity: 1;
    position: absolute;
    top: -60%;
    width: auto!important;
}

.q_logo img.mobile {
    opacity: 0;
}

header:not(.centered_logo) .q_logo img {
    height: 85%!important;
}

nav.main_menu {
    position: absolute;
    left: 50%;
    z-index: 100;
    text-align: left;
}

nav.main_menu.right {
    position: relative;
    left: auto;
    float: right;
}

nav.main_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.main_menu>ul {
    left: -50%;
    position: relative;
}

nav.main_menu.right>ul {
    left: auto;
}

nav.main_menu ul li {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: right;
}

nav.main_menu ul li a {
    color: #777;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    position: relative;
    line-height: 100px;
    padding: 0;
    margin: 0;
}

nav.main_menu>ul>li>a {
    display: inline-block;
    height: 100%;
    background-color: transparent;
}

nav.main_menu>ul>li.active>a {
    color: #303030;
}

nav.main_menu>ul>li>a {
    position: relative;
    padding: 0 17px;
    color: #9d9d9d;
    font-weight: 600;
    font-size: 13px;
}

header:not(.with_hover_bg_color) nav.main_menu>ul>li>a>span:not(.plus) {
    position: relative;
    display: inline-block;
    line-height: initial;
}

.drop_down ul {
    list-style: none;
}

.drop_down ul li {
    position: relative;
}

nav.mobile_menu {
    background-color: #fff;
}

div.section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mobile_menu_button {
    display: none;
    float: left;
    height: 100px;
    margin: 0 20px 0 0;
}

.mobile_menu_button span {
    width: 19px;
    height: 17px;
    font-size: 14px;
    z-index: 50;
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

nav.mobile_menu,
nav.mobile_menu ul {
    display: none;
    width: 100%;
    position: relative;
}

nav.mobile_menu {
    float: left;
    top: 0;
    text-align: left;
    overflow: hidden;
    z-index: 100;
}

nav.mobile_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.mobile_menu>ul {
    margin-bottom: -1px!important;
}

nav.mobile_menu ul li {
    margin: 0;
    padding: 0;
    position: relative;
}



nav.mobile_menu ul li {
    border-bottom: 1px solid #eaeaea;
}

nav.mobile_menu ul li:last-child {
    border: 0!important;
}

nav.mobile_menu ul li a {
    font-size: 13px;
    font-weight: 400;
    color: #888;
    padding: 10px 0;
    display: block;
    position: relative;
    text-transform: none;
    line-height: 26px;
    letter-spacing: 0;
}

nav.mobile_menu ul li.active>a {
    color: #1abc9c;
}

.side_menu_button_wrapper {
    display: table;
}

.side_menu_button {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}

.content {
    background-color: #f6f6f6;
}

.mobile_menu_button span {
    color: #9d9d9d;
}

.q_slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.container,
.content {
    z-index: 100;
    position: relative;
}

.content {
    margin-top: 0;
}

.content.content_top_margin_none {
    margin-top: 0!important;
}

.container {
    padding: 0;
    width: 100%;
}

.container_inner {
    width: 1100px;
    margin: 0 auto;
}

.header_bottom .container_inner {
    position: relative;
}

div.section {
    position: relative;
}

.grid_section .section_inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}

.full_section_inner {
    position: relative;
    z-index: 20;
}

.separator,
.separator.small {
    position: relative;
    display: block;
}

.separator {
    height: 1px;
    background-color: #eaeaea;
    margin: 10px 0;
}

.separator.small {
    background-color: #303030;
    height: 2px;
    width: 22px;
    margin: 10px auto 20px;
}

.wpb_column>.wpb_wrapper .separator.small {
    margin-bottom: 20px;
}

.qbutton {
    white-space: nowrap;
}

.qbutton {
    position: relative;
    display: inline-block;
    width: auto;
    height: 39px;
    line-height: 39px;
    margin: 0;
    padding: 0 23px;
    border: 2px solid #303030;
    font-size: 13px;
    font-weight: 700;
    font-family: inherit;
    text-align: left;
    color: #303030;
    text-decoration: none;
    outline: 0;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    background-color: transparent;
    -webkit-box-sizing: initial!important;
    -moz-box-sizing: initial!important;
    box-sizing: initial!important;
}

.qbutton.white {
    border-color: #fff;
    color: #fff;
}

.qbutton.green {
    border-color: #1abc9c;
    background-color: #1abc9c;
}

.qbutton.green {
    color: #fff;
}

.q_font_awsome_icon_stack i.fa-stack-base {
    border: 2px solid silver;
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}

.q_font_awsome_icon_stack i.fa-stack-base {
    border: none;
}

.q_font_awsome_icon_stack .qode_icon_element {
    color: #fff;
}

.qode_icon_shortcode.fa-stack .qode_icon_element {
    display: block;
    line-height: inherit;
}

.q_font_awsome_icon_stack .fa-circle {
    color: #1abc9c;
}

#back_to_top span {
    text-align: center;
}

.vc_empty_space_inner .empty_space_image {
    display: block;
    height: 100%;
}

#back_to_top {
    opacity: 0;
    filter: alpha(opacity=0);
}

#back_to_top {
    color: #cdcdcd;
    height: auto;
    position: fixed;
    bottom: 65px;
    margin: 0;
    z-index: 10000;
    right: 25px;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#back_to_top span {
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-decoration: none;
    -o-border-radius: 52px;
    -moz-border-radius: 52px;
    -webkit-border-radius: 52px;
    border-radius: 52px;
    border: 2px solid #e8e8e8;
    background: 0 0;
}



#back_to_top span i {
    font-size: 22px;
    color: #b0b0b0;
    line-height: 52px;
}

.q_image_with_text_over {
    display: inline-block;
    position: relative;
    margin: 0;
    width: 100%;
}

.carousel {
    position: relative;
    margin-bottom: 0;
}

.carousel-inner>.item {
    position: relative;
    display: none;
    box-sizing: border-box;
}

.qode_slider_preloader {
    width: 100%;
    background-color: #1c1c1c;
    position: absolute;
    z-index: 20;
    height: 1500px;
}

.qode_slider_preloader .ajax_loader {
    position: absolute;
}

.carousel-inner .slider_content_outer {
    position: relative;
    height: 100%;
    width: 1100px;
    margin: 0 auto;
    z-index: 12;
}

.carousel-inner .slider_content {
    position: absolute;
    width: 100%;
}

.carousel-inner .item.content_vertical_middle .slider_content_outer {
    display: table;
}

.carousel-inner .item.content_vertical_middle .slider_content {
    display: table-cell;
    vertical-align: middle;
    position: static;
}

.carousel-inner .slider_content.left {
    text-align: left;
}

.carousel-inner .slider_content.center {
    text-align: center;
}

.carousel-inner .slider_content .text {
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.carousel-inner .slider_content .text.one_by_one {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
    opacity: 1;
}

.carousel-inner .slider_content .text.one_by_one a.qbutton,
.carousel-inner .slider_content .text.one_by_one h2,
.carousel-inner .slider_content .text.one_by_one h4,
.carousel-inner .slider_content .text.one_by_one p {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    top: 70px;
}

.carousel-inner .slider_content .text .qbutton {
    margin: 10px 0 0;
    text-align: center;
}

.carousel-inner .slider_content .text .qbutton.white {
    margin: 10px 0 0 10px;
}

.carousel-inner h2 {
    margin: 10px 0 20px;
    font-size: 45px;
    line-height: 1.071428571428571em;
}

.carousel-inner .q_slide_subtitle,
.carousel-inner h2 {
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

.carousel-inner .q_slide_subtitle {
    font-size: 26px;
    letter-spacing: 1px;
}

.carousel-inner .q_slide_subtitle span {
    font-size: 1em;
    margin-bottom: 13px;
    display: inline-block;
}

.carousel-inner p {
    color: #fff;
    text-align: center;
    font-size: 21px;
    line-height: 1.363157894736842em;
    font-weight: 400;
    margin: 10px 0 15px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

.carousel-inner .left .q_slide_subtitle,
.carousel-inner .left .text,
.carousel-inner .left h2,
.carousel-inner .left p {
    text-align: left;
}

.carousel-inner {
    left: 0!important;
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    transform: translate(0,0);
    -ms-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
}

.carousel-inner .item .image {
    position: absolute;
    top: 0;
    left: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.carousel-control {
    top: 0;
    width: 23%;
    color: #303030;
    font-size: 13px;
    height: 100%;
    background: 0 0;
    text-shadow: none;
    position: absolute;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: none;
    z-index: 2!important;
    margin: 0;
    outline: 0;
    -ms-transform: color .6s ease-in-out,opacity .3s ease-in-out;
}

.carousel-control.right {
    right: 0;
    left: auto;
}

.carousel-control .next_nav,
.carousel-control .prev_nav {
    height: 54px;
    width: 54px;
    border: 2px solid #fff;
    line-height: 54px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    margin-top: -27px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-border-radius: 56px;
    -moz-border-radius: 56px;
    -ms-border-radius: 56px;
    -o-border-radius: 56px;
    border-radius: 56px;
}

@media only screen and (max-width:1000px) {
    .carousel-control .next_nav,
    .carousel-control .prev_nav {
        margin-top: -27px!important;
    }
}

.carousel-control i {
    font-size: 30px;
    color: #fff;
    line-height: 54px;
}

.carousel-control .prev_nav {
    left: 23px;
}

.carousel-control .next_nav {
    right: 23px;
}

.carousel-control .thumb_holder {
    width: 150px;
    display: block;
    position: absolute;
    margin: -20px 0 0;
    top: 50%;
    z-index: 9;
}

.carousel-control .thumb_holder .thumb_top {
    background-color: #fff;
    display: block;
    position: relative;
}

.carousel-control.left .thumb_holder .thumb_top {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    -ms-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.carousel-control.right .thumb_holder .thumb_top {
    -webkit-border-radius: 3px 0 0;
    -moz-border-radius: 3px 0 0;
    -ms-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0;
}

.carousel-control.left .thumb_holder {
    left: -100%;
    -ms-transform: left .2s ease-in-out;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    display: none;
}

.carousel-control.right .thumb_holder {
    right: -100%;
    -ms-transform: right .2s ease-in-out;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    display: none;
}

.carousel-control.left .arrow_left {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 15px;
}

.carousel-control.left .numbers {
    float: right;
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 0;
}

.carousel-control.right .arrow_right {
    float: right;
    height: 40px;
    line-height: 40px;
    padding: 0 15px 0 0;
}

.carousel-control.right .numbers {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 20px;
}

.carousel-control .img,
.carousel-control .img_outer {
    width: 150px;
    height: 47px;
    position: relative;
    display: block;
    overflow: hidden;
}

.carousel-control .img_outer {
    top: 0;
    clear: both;
    margin: 0 0 -2px;
}

.carousel-control .img {
    top: -47px;
}

.carousel-control.right .img {
    float: right;
}

@media only screen and (max-width:1300px) {
    .carousel-control {
        width: 15%;
    }
}

@media only screen and (max-width:1000px) {
    .carousel-control.left .thumb_holder,
    .carousel-control.right .thumb_holder {
        display: none;
    }

    .carousel-control {
        width: 10%;
    }

    .carousel-control .prev_nav {
        left: 0;
        opacity: 1;
    }

    .carousel-control .next_nav {
        right: 0;
        opacity: 1;
    }
}

@media (max-width:1200px) {
    .carousel.advanced_responsiveness .carousel-inner h2 {
        margin-top: 0;
    }
}

@media (max-width:1000px) {
    .carousel.advanced_responsiveness .carousel-inner {
        position: relative;
    }

    .carousel.advanced_responsiveness .carousel-inner>.item {
        padding-top: 0!important;
    }

    .carousel.advanced_responsiveness .carousel-control .next_nav,
    .carousel.advanced_responsiveness .carousel-control .prev_nav {
        margin-top: 0!important;
    }

    .carousel.advanced_responsiveness .carousel-inner .slider_content_outer {
        box-sizing: border-box;
        display: table;
        padding: 0 5px;
    }

    .carousel.advanced_responsiveness .carousel-inner .slider_content {
        display: table-cell;
        vertical-align: middle;
        position: static;
        top: 0!important;
        left: 0!important;
    }
}

@media (max-width:567px) {
    .carousel.advanced_responsiveness .carousel-control {
        display: none;
    }
}

@media (max-width:350px) {
    .carousel.advanced_responsiveness .carousel-inner .slider_content_outer {
        width: 100%!important;
    }
}

.wpb_content_element,
.wpb_row {
    margin-bottom: 0!important;
}

.header_top_bottom_holder {
    position: relative;
}

:-moz-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
    color: #959595;
    margin: 10px 0 0;
}

.side_menu_button {
    position: relative;
}

.section_inner_margin {
    margin-left: -15px;
    margin-right: -15px;
}

div.wpcf7-response-output {
    position: relative;
    padding: 17px 30px 17px 55px;
    color: #fff;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
}

div.wpcf7-response-output:before {
    font-family: FontAwesome,sans-serif;
    width: 20px;
    height: 20px;
    display: inline-block;
    color: #fff;
    position: absolute;
    left: 25px;
}

.full_screen_holder {
    position: relative;
    display: block;
    z-index: 100;
}

.full_screen_inner {
    height: 100%;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    visibility: hidden;
}

.qode-accordion-holder .qode-accordion-content {
    margin: 0;
    padding: 20px;
    background-position: center;
    background-size: cover;
}

.qode-accordion-holder .qode-accordion-content.qode-acc-title-with-icon {
    padding-left: 60px;
}

.qode-accordion-content-inner p span {
    color: #ffe522;
}