@media only screen and (max-width: 1000px) {
    .header_bottom {
        background-color: #ffffff;
    }
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 60px;
        line-height: 60px;
    }

    h4 {
        font-size: 23px;
        line-height: 32px;
    }
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 38px;
        line-height: 38px;
    }

    h3 {
        font-size: 28px;
        line-height: 32px;
    }

    h4 {
        font-size: 22px;
        line-height: 30px;
    }
}