.footer_top a:hover,.q_list.circle ul>li:hover{text-decoration:underline}.q_icon_list .qode-ili-icon-holder{line-height:34px;height:28px;width:28px}.footer_top .widget_nav_menu ul li{padding:0}.wpcf7 form.wpcf7-form p{margin-bottom:2px}.footer_top h5{margin:0 0 11px}.testimonials_c_holder .testimonial_content_inner{padding:10px 45px 29px}.testimonials_c_holder .testimonial_content_inner .testimonial_image_holder{margin-bottom:15px}.testimonial_star_holder .icon_star{font-size:14px}.testimonials_c_holder .testimonial_content_inner .testimonial_rating_holder{margin:16px 0 20px}.testimonials_c_holder .testimonial_content_inner .testimonial_author{margin-top:36px}.testimonials_c_holder .flex-control-nav li{width:10px;height:10px;margin:0 2px}.testimonials_c_holder .flex-control-nav li a{background-color:#b7b7b7}.testimonials_c_holder .flex-control-nav{margin-top:38px}.qode_video_box .qode_video_image .qode_video_box_button_arrow{border-left:18px solid #fff}.qode_video_box .qode_video_image .qode_video_box_button,.qode_video_box .qode_video_image:hover .qode_video_box_button{background-color:#00A896}nav.main_menu>ul>li.active>a>span:not(.plus){position:relative;display:inline-block;vertical-align:middle;padding:11px 23px;border-radius:0;background-color:#00A896;color:#fff}header:not(.with_hover_bg_color) nav.main_menu>ul>li:hover>a{opacity:1}nav.main_menu ul li.active a{padding:0}.header_top{height:35px;line-height:36px}header .header_top .q_social_icon_holder{margin-top:-1px;width:29px}.header-widget.widget_nav_menu ul.menu li a{padding:0 0 0 26px}.header-widget.widget_nav_menu{padding:0 24px 0 0}.carousel-inner p{margin:0 0 4px}.carousel-inner .slider_content .text .qbutton.white{margin-left:8px}.carousel-indicators li{background-color:#00f}.carousel-indicators .active{background-color:#ff9}.title.title_size_medium h1{text-transform:none}.q_list.circle ul>li:before{width:5px;height:5px;background-color:#023368}.q_list.circle ul>li{margin:0 0 9px;padding:0 0 0 16px}.header-widget.widget_nav_menu ul.menu li a:hover{color:#6c8eb2!important}.portfolio_single .portfolio_container{margin-top:24px}@media only screen and (max-width:768px){.title.title_size_medium h1{font-size:59px;line-height:60px;margin-bottom:5px}}@media only screen and (max-width:600px){.subtitle{display:none}.title.title_size_medium h1{font-size:31px;line-height:33px;margin-bottom:0}}#fp-nav.right{z-index:1000}#fp-nav.right ul li a span{background:#00A896}.qode-np-item p{color:#fff;padding-top:.8em}.testimonial_content_inner .testimonials_c_holder .testimonial_content_inner{background-color:transparent}.testimonials_holder.light .flex-direction-nav a{border-color:#00A896!important}.testimonials_holder.light .flex-direction-nav a:before{color:#00A896!important}.testimonials_holder.light .flex-direction-nav a:hover{background-color:#fff!important}.qode-accordion-holder .qode-title-holder.ui-state-active,.section_inner .qode-np-item span.qode-np-item-number{background-color:#00A896!important}.qode-accordion-content-inner,.qode-accordion-holder .qode-title-holder:hover{background-color:rgba(0,168,150,.8)!important}.section_inner .qode-np-item span.qode-np-item-number{color:#fff}.qode-accordion-content-inner{padding:19px 25px 39px 40px}.qode-accordion-content{padding:0!important}.qode-accordion-content-inner p span span{color:#fff!important}.qode-numbered-process-holder.qodef-np-padding-medium .qode-np-item{padding:0 45px}.qode-np-item-image-inner{background-color:rgba(0,0,0,.8)!important}.testimonial_text_holder{text-align:left}.testimonial_text_holder p:last-child{padding-top:.5em}@media screen and (-ms-high-contrast:active),screen and (-ms-high-contrast:none){#section1,#section2,#section3,#section4,#section5,#section6,#section7,#section8{background-color:#f4f4f4!important;z-index:1000!important}nav.right.main_menu{height:88px!important}nav.main_menu>ul>li.active>a>span:not(.plus){padding-top:0;padding-bottom:0}}.vc_custom_1481557056628{padding-bottom:19px!important}.vc_custom_1481556947144{padding-bottom:103px!important;padding-top:2%}div.section{padding-top:88px;height: 780px!important;}.wpb_text_column.wpb_content_element .wpb_wrapper{margin:0 5%}#section6 .fp-tableCell{height:100%!important}div.animated.infinite.bounce{-moz-animation-duration:3s;-webkit-animation-duration:3s;animation-duration:3s}.accordion_content_inner .wpb_wrapper{margin-left:0!important}.testimonial_text_holder p{font-size:15px}span.motto{font-family:Catamaran,sans-serif;font-size:12px;font-weight:700;top:-12px;color:#222;position:relative}@media only screen and (max-width:1024px){.carousel.advanced_responsiveness .carousel-control{display:none}span.motto{top:inherit;bottom:0;position:absolute;left:-52%;width:300px}}#section4 div.wpb_wrapper h2{color:#2a2a2a;font-size:35px;line-height:50px}

@media (max-width: 320px) {
    
}

@media (max-width: 375px) {
   
}

@media (max-width: 414px) {
    
}

@media (max-width: 	768px) {
    .wpb_wrapper h3 {
        font-size: 35px!important;
    }
    
    .technophiles {
        width: 40%!important;
        vertical-align: top!important;;
        text-align: justify!important;;
    }

    .margin31{
        margin-top: 31px!important;;
    }

    .exprtise {
        width: 50%!important;;
    }

    .none{
        display:none!important;;
    }

    .inlineBlock{
        display: inline-block!important;;
        font-size: 15px!important;;
    }

    .wpb_text_column :last-child, .wpb_text_column p:last-child {
        margin-bottom: 0!important;
        font-size: 15px;
    }

    .testimonial_text_holder p {
        font-size: 15px!important;;
    }

    .h6, h6, h6 a {
        color: #232527;
        font-size: 15px!important;;
        font-weight: 500;
        letter-spacing: 0;
        text-transform: none;
    }

    p {
        font-size: 15px!important;;
    }

    .testimonial_text_holder p:last-child {
        padding-top: .5em;
        font-size: 15px!important;
        text-align: justify;
    }

    .flex-viewport, .portfolio_slider .flex-viewport {
        max-height: 675px;
    }

    .qode_content_slider .flex-control-nav {
        text-align: center;
        margin-top: 10px;
    }
   
}

@media (max-width: 1024px) {
    .wpb_wrapper h3 {
        font-size: 35px!important;
    }

    .exprtise {
        width: 50%;
    }

    .wpb_text_column :last-child, .wpb_text_column p:last-child {
        margin-bottom: 0;
        font-size: 20px;
    }

    .testimonial_text_holder p {
        font-size: 20px;
    }

    .h6, h6, h6 a {
        color: #232527;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        text-transform: none;
    }

    p {
        font-size: 20px;
    }

    .testimonial_text_holder p:last-child {
        padding-top: .5em;
        font-size: 18px!important;
        text-align: justify;
    }

    .flex-viewport, .portfolio_slider .flex-viewport {
        max-height: 675px;
    }

    .qode_content_slider .flex-control-nav {
        text-align: center;
        margin-top: 10px;
    }

   
}
